<%= form_with(model: production_plan, local: true) do |form| %>
  <% if production_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(production_plan.errors.count, "error") %> prohibited this production_plan from being saved:</h2>

      <ul>
      <% production_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :production_plan_name %>
    </div>

    <div class="field">
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time, id: :start_time_date %>
    </div>
    <div class="field">
      <%= form.label :start_time %>
      <%= form.datetime_select :shipment_time, id: :shipment_time_date %>
    </div>
    <%= form.submit %>
  </div>
<% end %>
