<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('product') %></strong>
  <%= @task_table.product.name %>
</p>

<p>
  <strong><%= t('customer') %></strong>
  <%= @task_table.customer.name %>
</p>

<p>
  <strong><%= t('count') %></strong>
  <%= @task_table.count %>
</p>

<p>
  <strong><%= t('special') %></strong>
  <%= @task_table.special %>
</p>

<p>
  <strong><%= t('package') %></strong>
  <%= @task_table.package %>
</p>

<p>
  <strong><%= t('shipment') %></strong>
  <%= @task_table.shipment %>
</p>

<%= link_to t('edit'), edit_task_table_path(@task_table) %> |
<%= link_to t('back'), task_tables_path %>
